/app/config/dev/parameters.yml
/app/config/test/parameters.yml
/app/config/prod/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/jwt
/var/jwt/*
!var/jwt/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
