parameters:
    database_host: services_db
    database_port: 3306
    database_name: services
    database_user: services
    database_password: services

    jwt_private_key_path: '/run/secrets/jwt/key'
    jwt_public_key_path: '/run/secrets/jwt/key.pub'
    jwt_key_pass_phrase: ''
    jwt_token_ttl: 3600

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: '*'
