parameters:
    database_host: database8014
    database_port: ~
    database_name: ds_services
    database_user: ds_services
    database_password: ds_services

    mailer_transport:  smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost
