security:
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            stateless: true
            anonymous: true
            provider: jwt
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

    access_control:
        - { path: ^/security/permissions, role: IS_AUTHENTICATED_FULLY }
        - { path: ^/permissions,          role: IS_AUTHENTICATED_FULLY }
        - { path: ^/configs,              role: IS_AUTHENTICATED_FULLY }
        - { path: ^/categories,           role: IS_AUTHENTICATED_FULLY }
        - { path: ^/services,             role: IS_AUTHENTICATED_FULLY }
        - { path: ^/submissions,          role: IS_AUTHENTICATED_FULLY }
