parameters:
    database_host: db
    database_port: 3306
    database_name: api_platform
    database_user: api_platform
    database_password: api_platform

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/key'
    jwt_public_key_path: '%kernel.root_dir%/../var/jwt/key.pub'
    jwt_key_pass_phrase: ''
    jwt_token_ttl: 3600

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: '*'
